[kiauh]
backup_before_update: False
# 自动检测并提示中国大陆镜像加速（首次运行时）
# Auto-detect and prompt for China mirror acceleration (first run)
auto_detect_china_network: True
# 是否已完成镜像加速配置向导
# Whether mirror acceleration wizard has been completed
mirror_wizard_completed: False

[klipper]
# add custom repositories here, if at least one is given, the first in the list will be used by default
# otherwise the official repository is used
#
# format: https://github.com/username/repository, branch
# example: https://github.com/Klipper3d/klipper, master
#
# branch is optional, if given, it must be preceded by a comma, if not given, 'master' is used
repositories:
    https://github.com/Klipper3d/klipper

[moonraker]
# Moonraker supports two optional Python packages that can be used to reduce its CPU load
# If set to true, those packages will be installed during the Moonraker installation
optional_speedups: True

# add custom repositories here, if at least one is given, the first in the list will be used by default
# otherwise the official repository is used
#
# format: https://github.com/username/repository, branch
# example: https://github.com/Arksine/moonraker, master
#
# branch is optional, if given, it must be preceded by a comma, if not given, 'master' is used
repositories:
    https://github.com/Arksine/moonraker

[mainsail]
port: 80
unstable_releases: False

[fluidd]
port: 80
unstable_releases: False

[mirrors]
# 中国大陆镜像加速配置 / China Mirror Acceleration Configuration
# PyPI 镜像 URL / PyPI mirror URL
pypi_mirror: https://pypi.tuna.tsinghua.edu.cn/simple
# 是否启用 PyPI 镜像 / Enable PyPI mirror
enable_pypi_mirror: False
# 是否已显示 APT 镜像切换指南 / APT mirror guide shown
apt_guide_shown: False
# 是否已显示 Git 加速指南 / Git acceleration guide shown
git_guide_shown: False
